<connectionStrings>
	<add name="ConnectionString"
		 connectionString ="Data Source=(localdb)\\ProjectsV13;Initial Catalog=AddressBookData;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
		 providerName ="System.Data.SqlServer"/>
</connectionStrings>